.body{
    width:40%;
    margin: auto;
    text-align: center;
}

.body h2{
    color: white;
    background-color: #262626;
}
body Form {
    font-weight: bold;
    font-family: "Bodoni MT Poster Compressed";
    font-size: 20px;
}
Form .input{
    border-radius: 6px;
}
Form.Control{
    border-radius: 6px;
}
.input{
    font-weight: bold;
}
.input:focus{
    background-color: #262626;
    color: white;
}
.error{
    color: red;
    float: left;
    font-weight: normal;

}
