.card {
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: black;
    color: white;
    padding: 40px;
    font-size: 70px;
    margin-bottom: 40px;
}
.p1 {
    font-size: 55px;
}
.p2 {
    font-size: 45px;
}
.row {
    margin-bottom: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.sec1 {
    margin-left: 250px;
    margin-right: 50px;
    float: left;
}
.sec1 label {
    float: left;
    font-size: 30px;
}
.sec2 {
    float: left;
}
form label {
    font-size: 15px;
}
.checkbox {
    padding: 10px;
}
button {
    margin-bottom: 50px;
}
form p, form a {
    font-size: 24px;
}
form a {
    margin-bottom: 20px;
}
